[submodule "emacs/my-plugin/rinari"]
	path = emacs/my-plugin/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "shell/.oh-my-zsh"]
	path = shell/.oh-my-zsh
  url = https://github.com/ohmyzsh/ohmyzsh.git
  #url = https://github.com/xoyowade/oh-my-zsh.git
[submodule "emacs/my-plugin/workgroups"]
	path = emacs/my-plugin/workgroups
	url = https://github.com/tlh/workgroups.el
[submodule "git/ignore"]
	path = git/ignore
	url = https://github.com/github/gitignore.git
[submodule "emacs/my-plugin/yasnippet"]
	path = emacs/my-plugin/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "emacs/my-plugin/async"]
	path = emacs/my-plugin/async
	url = https://github.com/jwiegley/emacs-async.git
#[submodule "emacs/spacemacs"]
#	path = emacs/spacemacs
#	url = git@github.com:xoyowade/spacemacs.git
